.catalog{
	display: flex;
	justify-content: center;
	flex-direction: column;
}
.catalog-title{
	font-size: 35px;
	font-weight: bold;
	font-style: normal;
	text-align: center;

	margin-top: 37px;
}
.line{
	background-color: #000000;
	width: 90px;
	height: 3px;
	margin: 30px auto 30px auto;
}
.catalog-btns{
	display: flex;
	flex-direction: row;
	justify-content: center;
}
.c-btn{
	width: 310px;
	height: 67px;
	background: none;
	border: none;
	font-weight: normal;
	font-style: normal;
	font-family: Open Sans;
	font-size: 17px;
	margin-bottom: 30px;
	margin-left: 10px;
}
.red {
	background-color: #ba0152;
	color: #ffffff;
}
.red:hover{
	background: none;
	border: solid 2px #000000;
	color: #000000;
}
.grey:hover{
	background: none;
	border: solid 2px #000000;
	color: #000000;
}
.grey{
	background-color: #f3f3f3;
	color: #000000;
}
.products{
	display: grid;
	grid-gap: 20px;
	grid-template-columns: repeat(3, 1fr);
}
@media(max-width: 730px){
	.products{
		grid-template-columns: repeat(2, 1fr);
	}
}
@media(max-width: 532px){
	.products{
		grid-template-columns: repeat(1, 1fr);
	}
}
.product-area{
	width: 100%;
	height: auto;
	border-width: 1px;
  	border-color: rgb(219, 219, 223);
  	border-style: solid;
  	margin: 0px auto 0px auto;

  	display: flex;
  	flex-direction: column;

  	background-color: #ffffff;
}
.header-card{
	width: 100%;
}
.p-img{
	width: 100%;
}
.card-title{
	font-size: 17px;
	font-weight: bold;
	font-style: normal;
	text-align: center;
	margin-top: 5px;
}
.card-size{
	margin: 10px auto 0px auto;
}
.card-size > button {
	border: solid #fffbfb 1px;
	font-weight: normal;
	font-style: normal;
	font-family: Open Sans;
	background: none;
	font-size: 17px;
	cursor: pointer;
}
.card-size > button:focus {
	border: solid #ba0152 1px;
	border-radius: 4px;
}
.close{
	color: #ceced3;
}
.card-colors{
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin-top: 10px; 
}
.circle-red{
	background-color: #ff0000;
	width: 30px;
	height: 30px;
	border-radius: 25px;
	border: solid 2px #dbdbdf;
	margin: 5px;
}
.circle-black{
	background-color: #000000;
	width: 30px;
	height: 30px;
	border-radius: 25px;
	border: solid 2px #dbdbdf;
	margin: 5px;
}
.card-price{
	display: flex;
	justify-content: center;
	flex-direction: row;
	margin-top: 15px;
}
.old-price{
	color: #8c8c8c;
	font-size: 23px;
	text-decoration: line-through;
	font-weight: normal;
	font-style: normal;

	position: relative;
	top: 6px;
}
.new-price{
	color: #b4014e;
	font-size: 29px;
	font-weight: bold;
	font-style: normal;
	margin-left: 20px;
}
.card-case-btn{
	margin: 20px;
}
.card-btn{
	width: 100%;
	height: 56px;
	border: none;
	border-radius: 4px;
  	background-image: -moz-linear-gradient( 90deg, rgb(71,118,230) 0%, rgb(142,84,233) 100%);
  	background-image: -webkit-linear-gradient( 90deg, rgb(71,118,230) 0%, rgb(142,84,233) 100%);
  	background-image: -ms-linear-gradient( 90deg, rgb(71,118,230) 0%, rgb(142,84,233) 100%);
  	box-shadow: 0px 4px 0px 0px rgba(55, 92, 179, 1);

  	color: #ffffff;
  	font-family: Open Sans;
  	font-weight: 600;
	font-style: normal;
	font-size: 17px;
}
.card-btn:hover{
  	box-shadow: none;
  	background-image: none;
  	background-color: #8956e9;
}
@media (max-width: 768px) {
	.catalog-btns{
		flex-direction: column;
	}
	.c-btn{
		width: 100%;
		margin-left: 0px;
	}
}