.footer{
	background-color: #f7f2f4;
	margin-top: 90px;
	padding-top: 50px;
	padding-bottom: 110px; 
}
.footer-title{
	font-weight: bold;
	font-style: normal;
	font-size: 59px;
	text-align: center;
}
.footer-line{
	width: 90px;
	height: 3px;
	margin: 15px auto 30px auto;
	background-color: #000000;
}
.footer-steps{
	display: flex;
	justify-content: center;
	flex-direction: row;
}

.step-circle{
	border-style: solid;
  	border-width: 6px;
  	border-color: #d579a1;
  	border-radius: 50%;
  	background-color: rgb(180, 1, 78);
  	width: 128px;
  	height: 128px;
  	margin: 0px auto 0px auto;
}
.step-circle > img{
	display: block;
  	margin: 38px auto 0px auto;
}
.line-circle{
	border-radius: 50%;
	border: 3px solid #ebe7ea;
  background-color: rgb(206, 206, 211);
  width: 10px;
  height: 10px;
  margin: 25px auto 25px auto;
}
.step-text{
	font-size: 17px;
	font-weight: normal;
	font-style: normal;
	text-align: center;
}
.line-between{
 	width: 100%;
 	height: 1px;
 	border-top: dotted 1px #ceced3;
 	position: relative;
 	bottom: 34px;
 	left: 110px;

}
@media (max-width: 768px) {
	.footer-steps{
		flex-direction: column;
		width: 200px;
		justify-content: center;
		margin: 0px auto 0px auto;
	}
	.line-between{
		display: none;
	}
	.step{
		margin-top: 50px;
	}
	.line-circle{
		display: none;
	}
	.step-text{
		margin-top: 20px;
	}
}