.size-table{
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.table-title{
	font-weight: bold;
	font-style: normal;
	font-size: 35px;
	text-align: center;
	margin-top: 30px;
}
.table-line{
	width: 90px;
	height: 3px;
	background-color: #000000;
	margin: 20px auto 16px auto;
}
.table-area {
	width: 100%;
	height: 265px;
	background-color: #ffffff;
	box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.15);

	margin-bottom: 50px;

	padding: 30px 30px 30px 30px;
	box-sizing: border-box;
}
.table{
	background: url(../img/table.png) no-repeat center;
}
table{
	width: 100%;
	height: 100%;

	font-size: 14px;
	font-weight: normal;
	font-style: normal;

	 border-spacing: 0px;
}
tr:nth-child(odd){
	background-color: #f3f3f3;
}
tr{
	text-align: center;
}
th{
	text-align: left;
	padding-left: 30px; 
}
.bold {
	font-weight: bold;
	font-style: normal;
	font-size: 14px;
}
@media (max-width: 768px) {
	.table{
		display: none;
	}
}
